In [ ]:
'''
Exercise 1: NumPy: Create an array with values ranging from 12 to 38
[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]
 '''
a=np.arange(12,38)
print(a)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]

In [ ]:
'''
Exercise 2: Add a border around an existing array
Hint: np.pad()
Original array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]
'''
a=np.full((3,3),1,dtype=float)
print(a.shape)
np.pad(a,1,'constant',constant_values=0)

3

array([[0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
'''
Exercise 3: Convert a list and tuple into arrays
List to array: 
[1 2 3 4 5 6 7 8]
Tuple to array: 
[[8 4 6]
 [1 2 3]]
'''
list_=[1,2,3,4,5,6,7,8]

a=np.array(list_)
print(a)

tuple_=(8,4,6,1,2,3)
b=np.array(tuple_).reshape(2,3)
print(b)


a=np.array([1,2,3,4,5,6,7,8])
print(a)

'''
Difference:The vital difference between the above two methods is that numpy.array() 
will make a duplicate of the original object and numpy.asarray() would mirror the changes in the original object. i.e :

When a copy of the array is made by using numpy.asarray() , the changes made in one array would be reflected 
in the other array also but doesn’t show the changes in the list by which if the array is made. 
However, this doesn’t happen with numpy.array().
'''

[1 2 3 4 5 6 7 8]
[[8 4 6]
 [1 2 3]]
[1 2 3 4 5 6 7 8]

In [ ]:
'''
Exercise 4: Convert the values of Centigrade degrees into Fahrenheit degrees
Values in Fahrenheit degrees:
[ 0.   12.   45.21 34.   99.91]
Values in  Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]
'''

a=np.array([0.,   12.,   45.21, 34.,   99.91])
b=((a-32)*(5/9))
print(b)

[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

In [ ]:
'''
Exercise 5: Write a NumPy program to find the number of elements of an array, length of one array element in bytes and 
total bytes consumed by the elements.
Size of the array:  3
Length of one array element in bytes:  8
Total bytes consumed by the elements of the array:  24
'''
a=np.array([1,2,3],dtype=np.float64)
print("Size of the array:  ",a.size)
print("Length of one array element in bytes:  ",a.itemsize)
print("Total bytes consumed by the elements of the array:  ",a.nbytes)

Size of the array:   3
Length of one array element in bytes:   8
Total bytes consumed by the elements of the array:   24

In [ ]:
'''
Exercise 6: Get the unique elements of an array
Original array:
[10 10 20 20 30 30]
Unique elements of the above array:
[10 20 30]
Original array:
[[1 1 2]
 [2 3 3]]
Unique elements of the above array:
[1 2 3]
'''

a=np.array([10, 40, 20, 20, 30, 30,10])
#np.unique(a,return_index=True,return_inverse=True,return_counts=True,axis=0)
print("Original array:",a,'\n',"Unique elements of the above array:",np.unique(a))
b=np.array([[1 ,1,2], [2, 3,2]])
print("Original array:",b,'\n',"Unique elements of the above array:",np.unique(b))

Original array: [10 40 20 20 30 30 10]
 Unique elements of the above array: [10 20 30 40]
Original array: [[1 1 2]
 [2 3 2]]
 Unique elements of the above array: [1 2 3]

In [ ]:
'''
Exercise 7: Change the dimension of an array
Original array: [1 2 3 4 5 6 7 8 9]
Change array shape to (3, 3) -> 3 rows and 3 columns 
[[1 2 3]
 [4 5 6]
 [7 8 9]]
'''
a=np.array([1, 2, 3, 4, 5, 6,7, 8, 9 ])
print(np.reshape(a,(3,3)))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
'''
Exercise 8: Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]
 '''

a=np.linspace(2.5,6.5,num=30)
print(a)

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [ ]:
'''
Exercise 9: Convert 1-D arrays as columns into a 2-D array
Array1: [10 20 30]
Array2: [40 50 60]
Converted array
[[10 40]
 [20 50]
 [30 60]]'''
a=np.array([10,20,30])
b=np.array([40,50,60])
np.column_stack((a,b))

array([[10, 40],
       [20, 50],
       [30, 60]])

In [ ]:
'''
Exercise 10: Create a 5x5 matrix with row values ranging from 0 to 4
Original array:
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
 '''
a=np.zeros((5,5))
a=a+np.arange(0,5)
print(a)

[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

In [ ]:
'''
Exercise 11: Sum of all the multiples of 3 or 5 below 100
[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318
'''
a=np.arange(3,100)
b=a[(a%3==0) | (a%5==0)]
print(b)
b.sum()

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]

2318

In [ ]:
'''
Exercise 12: Combine a one and a two dimensional array together and display their elements
One dimensional array:
[0 1 2 3]
Two dimensional array:
[[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7
'''
x = np.arange(4)
y = np.arange(0,8).reshape(2,4)
for a, b in np.nditer([x,y]):
    print(a,':',b)

0 : 0
1 : 1
2 : 2
3 : 3
0 : 4
1 : 5
2 : 6
3 : 7

In [ ]:
'''
Exercise 13: Write a NumPy program to replace all elements of NumPy array that are greater than specified array.
Original array:
[[0.42436315 0.48558583 0.32924763]
 [0.7439979  0.58220701 0.38213418]
 [0.5097581  0.34528799 0.1563123 ]]
Replace all elements of the said array with .5 which are greater than .5
[[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]
 '''
a=np.array([[ 0.42436315, 0.48558583, 0.32924763], [ 0.7439979,0.58220701,0.38213418], [ 0.5097581,0.34528799,0.1563123 ]])
a[a>0.5]=0.5
print(a)
print("\n***using for loop***\n")
b=np.array([[ 0.42436315, 0.48558583, 0.32924763], [ 0.7439979,0.58220701,0.38213418], [ 0.5097581,0.34528799,0.1563123 ]])
for i in range(b.shape[0]):
    for j in range(b.shape[0]):
        if(b[i][j])>0.5:
            b[i][j]=0.5
            #print(a)
print(b)

[[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

***using for loop***

[[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

In [ ]:
'''Exercise 14: Add a new row to an empty numpy array
Empty array:
[]
After adding two new arrays:
[[10 20 30]
 [40 50 60]]
'''
a=np.empty((0,3),int)
print(a)
a = np.append(a, np.array([[10,20,30]]), axis=0)
a = np.append(a, np.array([[40,50,60]]), axis=0)
print(a)

[]
[[10 20 30]
 [40 50 60]]

In [ ]:
'''
Exercise 15: Write a NumPy program to join a sequence of arrays along a new axis.
'''
a = np.array([1, 2, 3])
b = np.array([2, 3, 4])
print(np.vstack((a, b)))
a = np.array([[1], [2], [3]])
b = np.array([[2], [3], [4]])
print(np.vstack((a, b)))

[[1 2 3]
 [2 3 4]]
[[1]
 [2]
 [3]
 [2]
 [3]
 [4]]