In [1]:
'''
Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data 
which has the index labels.
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      noa
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
'''
import numpy as np
import pandas as pd
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
data = pd.DataFrame(exam_data,index = ['a','b','c','d','e','f','g','h','i','j'])
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [ ]:
'''
Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 
and score greater than 15.
Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes
'''
a=data[(data['attempts']<2) & (data['score']>15)]
print(a)

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [ ]:
'''
Exerise 3: Change the value in row 'd' to 11.5
Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
'''
data.loc['d', 'score'] = 11.5
print(data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [ ]:
'''
Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.
data: d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
Rows for colum1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0
'''
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
#print(d)
data = pd.DataFrame(d)
data=data[data['col1']==4]
print(data)

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
data = pd.DataFrame(exam_data,index = ['a','b','c','d','e','f','g','h','i','j'])
print("sum",data['attempts'].sum())

   col1  col2  col3
1     4     5     8
3     4     7     0
sum 19

In [ ]:
'''
Exercise 5: Drop a list of rows from a specified DataFrame
data:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0
'''
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
data = pd.DataFrame(d)
print(data)
data=data.drop(data.index[[2,4]])
print(data)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [ ]:
'''
Exercise 6: Check whether a given column is present in a DataFrame or notÂ¶
data:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.
'''
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data = pd.DataFrame(d)
if 'col4' in data.columns:
    print("Col4 is not present in DataFrame")
else:
    print("Col4 is not present in DataFrame.")
if 'col1' in data.columns:
    print("Col1 is present in DataFrame.")
else:
    print("Col1 is not present in DataFrame.")

Col4 is not present in DataFrame.
Col1 is present in DataFrame.

In [ ]:
'''
Exercise 7: Get column index from column name of a given DataFrame
data:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

HINT: Try using a function called get_loc():
Syntax: dataframe.columns.get_loc()

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1
'''
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data = pd.DataFrame(d)
print("\nIndex of 'col2' is\n",data.columns.get_loc('col2'))

Index of 'col2' is
 1

In [ ]:
'''
Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5
'''
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
data = pd.DataFrame(d)
print(data)
a=data.iloc[:,0:2]
print("using iloc\n",a)
b = data.loc[:, data.columns != 'col3']
print("using Loc\n",b)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
using iloc
    col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5
using Loc
    col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

In [ ]:
'''
Exercise 9: Write a Pandas program to remove last n rows of a given DataFrame.
Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
'''
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 8, 12, 1, 11, 11]}
data = pd.DataFrame(d)
data = data[data.index.values <= data.index.max()-3]
print("After removing last 3 rows\n",data)

After removing last 3 rows
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

In [ ]:
'''Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes
'''

###having issues in downloading data set